.navbar{
    height: 80px;
    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .currency .men .women .children .homepage .about .contact .stores{
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        .left{
   display: flex;
   align-items: center;
   gap: 25px;
        }
        .center{
   font-size: 30px;
        }
        .right{
            display: flex;
            align-items: center;
            gap: 25px;
            .icons{
                display: flex;
                gap: 25px;
                cursor: pointer;
                color: gray;

            .cart{
                position: relative;
                span{
                    background-color: blue;
                    color: white;
                    position: absolute;
                    font-size: 10px;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    top: -10px;
                    right: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            }
        }
    }
}